.navbar-brand {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.btn-primary {
  background-color: rgb(114, 47, 114);
  border-color: rgb(114, 47, 114);
}

.form-select {
  width: 100%;
  margin-bottom: 1rem;
}
.form-container {
  max-height: 400px;
  overflow-y: auto;
  margin-bottom: 15px;
  padding: 10px;
  background-color: #d9d9d9;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
}